flows.json
[
    {
        "id": "9c559ab0993c9a3e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bc3c6cb58d4418a1",
        "type": "ui_spacer",
        "z": "9c559ab0993c9a3e",
        "name": "spacer",
        "group": "edc392ad9faceae5",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "287a311c705fd41f",
        "type": "ui_group",
        "name": "Vento",
        "tab": "d67b758e644f9dbe",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e916bfb3c8db3fb4",
        "type": "ui_group",
        "name": "Sensação Termina",
        "tab": "d67b758e644f9dbe",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "58adb2cde6a6323e",
        "type": "ui_group",
        "name": "Humidade",
        "tab": "d67b758e644f9dbe",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "14ae8a314a72c94b",
        "type": "ui_group",
        "name": "Temperatura Atual",
        "tab": "d67b758e644f9dbe",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "791f2db9530434fe",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "d67b758e644f9dbe",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d67b758e644f9dbe",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0f6c091f08d0f863",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e356d13bcb134b41",
        "type": "inject",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 320,
        "wires": [
            [
                "1959f64cc95a6f27",
                "4b2b2661261948aa"
            ]
        ]
    },
    {
        "id": "424d58272c4f3991",
        "type": "json",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 590,
        "y": 480,
        "wires": [
            [
                "ae1ed15af6ba8837",
                "3095ba0c1d98f68a",
                "e8bae3cb5a77a9d9",
                "2d85238f234872c2",
                "7dea213c31238e95",
                "59a93552e47f9add"
            ]
        ]
    },
    {
        "id": "1959f64cc95a6f27",
        "type": "http request",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "api.openweathermap.org/data/2.5/weather?q=sao paulo,br-sp,br&appid=79fbdb0f91a86d7ec60553cd78235c5f",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 480,
        "wires": [
            [
                "424d58272c4f3991"
            ]
        ]
    },
    {
        "id": "e8bae3cb5a77a9d9",
        "type": "change",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp_min",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 440,
        "wires": [
            [
                "4d8abc769c5769d9"
            ]
        ]
    },
    {
        "id": "3095ba0c1d98f68a",
        "type": "change",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp_max",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 480,
        "wires": [
            [
                "d479037cd0b2e56d"
            ]
        ]
    },
    {
        "id": "ae1ed15af6ba8837",
        "type": "change",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.wind.speed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 520,
        "wires": [
            [
                "2c58b99bbc8bb0a2"
            ]
        ]
    },
    {
        "id": "4d8abc769c5769d9",
        "type": "ui_gauge",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "group": "791f2db9530434fe",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Minima - São Paulo",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1110,
        "y": 440,
        "wires": []
    },
    {
        "id": "d479037cd0b2e56d",
        "type": "ui_gauge",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "group": "791f2db9530434fe",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Maxima -São Paulo",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1110,
        "y": 480,
        "wires": []
    },
    {
        "id": "2c58b99bbc8bb0a2",
        "type": "ui_gauge",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "group": "287a311c705fd41f",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Vento - São Paulo",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1110,
        "y": 520,
        "wires": []
    },
    {
        "id": "2d85238f234872c2",
        "type": "change",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.feels_like",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 560,
        "wires": [
            [
                "c954b92dfec1b18a"
            ]
        ]
    },
    {
        "id": "c954b92dfec1b18a",
        "type": "ui_chart",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "group": "e916bfb3c8db3fb4",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Sensação Termica - São Paulo",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1150,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "7dea213c31238e95",
        "type": "change",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 600,
        "wires": [
            [
                "e3a6396d020f887f"
            ]
        ]
    },
    {
        "id": "4b2b2661261948aa",
        "type": "http request",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "api.openweathermap.org/data/2.5/weather?q=acre,br-ac,br&appid=79fbdb0f91a86d7ec60553cd78235c5f",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 140,
        "wires": [
            [
                "dac39addc0b8c22a"
            ]
        ]
    },
    {
        "id": "dac39addc0b8c22a",
        "type": "json",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 590,
        "y": 140,
        "wires": [
            [
                "6c6589decc7e2e09",
                "08069243e3deaf4c",
                "350cbc48f43793fd",
                "25471fe80c53a92c",
                "87c44a29a69f2e58",
                "05166698362a5168"
            ]
        ]
    },
    {
        "id": "6c6589decc7e2e09",
        "type": "change",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp_min",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 80,
        "wires": [
            [
                "9c8c502d92a98803"
            ]
        ]
    },
    {
        "id": "08069243e3deaf4c",
        "type": "change",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp_max",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 120,
        "wires": [
            [
                "ab0aa9ed09d5318d"
            ]
        ]
    },
    {
        "id": "350cbc48f43793fd",
        "type": "change",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.wind.speed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 160,
        "wires": [
            [
                "ce3eed9bc3924267"
            ]
        ]
    },
    {
        "id": "9c8c502d92a98803",
        "type": "ui_gauge",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "group": "791f2db9530434fe",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Minima - Acre",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1080,
        "y": 80,
        "wires": []
    },
    {
        "id": "ab0aa9ed09d5318d",
        "type": "ui_gauge",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "group": "791f2db9530434fe",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Maxima - Acre",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1080,
        "y": 120,
        "wires": []
    },
    {
        "id": "ce3eed9bc3924267",
        "type": "ui_gauge",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "group": "287a311c705fd41f",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Vento - Acre",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1070,
        "y": 160,
        "wires": []
    },
    {
        "id": "25471fe80c53a92c",
        "type": "change",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.feels_like",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 200,
        "wires": [
            [
                "2778d932775b7d71"
            ]
        ]
    },
    {
        "id": "2778d932775b7d71",
        "type": "ui_chart",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "group": "e916bfb3c8db3fb4",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Sensação Termica - Acre",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1110,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "87c44a29a69f2e58",
        "type": "change",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 240,
        "wires": [
            [
                "d3ef08b3b219f296"
            ]
        ]
    },
    {
        "id": "4ba63774a341f1a0",
        "type": "ui_chart",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "group": "14ae8a314a72c94b",
        "order": 5,
        "width": "6",
        "height": "6",
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#47dc1e",
            "#006cfa",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1070,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "d3ef08b3b219f296",
        "type": "ui_gauge",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "group": "58adb2cde6a6323e",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidade - Acre",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1090,
        "y": 240,
        "wires": []
    },
    {
        "id": "e3a6396d020f887f",
        "type": "ui_gauge",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "group": "58adb2cde6a6323e",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidade - São Paulo",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1120,
        "y": 600,
        "wires": []
    },
    {
        "id": "05166698362a5168",
        "type": "function",
        "z": "9c559ab0993c9a3e",
        "name": "function 1",
        "func": "msg.payload = msg.payload.main.temp;\nmsg.topic = \"Acre\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 320,
        "wires": [
            [
                "4ba63774a341f1a0"
            ]
        ]
    },
    {
        "id": "59a93552e47f9add",
        "type": "function",
        "z": "9c559ab0993c9a3e",
        "name": "function 2",
        "func": "msg.payload = msg.payload.main.temp;\nmsg.topic = \"São Paulo\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 360,
        "wires": [
            [
                "4ba63774a341f1a0"
            ]
        ]
    },
    {
        "id": "0017a594718279a0",
        "type": "mqtt in",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "topic": "lauratamari/teste",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0f6c091f08d0f863",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 800,
        "wires": [
            [
                "67cf359cb817427b"
            ]
        ]
    },
    {
        "id": "67cf359cb817427b",
        "type": "debug",
        "z": "9c559ab0993c9a3e",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 800,
        "wires": []
    },
    {
        "id": "6ea5bee1130b579f",
        "type": "inject",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Olá! Tudo bem? ",
        "payloadType": "str",
        "x": 340,
        "y": 740,
        "wires": [
            [
                "bbecf9fd18d80b17"
            ]
        ]
    },
    {
        "id": "bbecf9fd18d80b17",
        "type": "mqtt out",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "topic": "lauratamari/teste",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f6c091f08d0f863",
        "x": 650,
        "y": 740,
        "wires": []
    }
]